.main {
  margin-top: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 88.5vh;
}

.current-users {
  flex-basis: 20%;
}
.chat-window {
  flex-basis: 78%;
  background-color: hsl(0, 0%, 97%);
  width: 100%;
}
.chat-window__content{
  padding: 1em;
}
.chat-window__input{
  border-radius: 2px;
  position: absolute;
  width: 70vw;
  bottom: 0;
}
.hidden {
  display: none;
}
